{% extends "base.html" %}
{% block title %}Libros{% endblock %}
{% block content %}

<div class="columns">
    <div class="column is-4">
        {% if messages %}
        {% for message in messages %}
        <div class="notification is-success">
            <button class="delete"></button>
            <strong>{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2>Gestión de libros</h2>
        <div class="card">
            <div class="card-content">
                <form action="{% url 'registrar_libro' %}" method="POST"> {% csrf_token %}
                    <div class="field">
                        <label class="label">Código</label>
                        <input type="text" id="txtCodigo" name="txtCodigo" class="input" placeholder="Código"
                            minlength="6" maxlength="6" required>
                    </div>
                    <div class="field">
                        <label class="label">Nombre</label>
                        <input type="text" id="txtNombre" name="txtNombre" class="input" placeholder="Nombre"
                            maxlength="50" required>
                    </div>
                    <div class="field">
                        <label class="label">Autor</label>
                        <input type="text" id="txtAutor" name="txtAutor" class="input" placeholder="Autor"
                        maxlength="50" required>
                    </div>
                    <div class="field">
                        <button type="submit" class="button is-success">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="column is-8">
        <h1>Listado de Libros</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Autor</th>
                    <th colspan="2">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for libro in libros %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ libro.codigo }}</td>
                    <td>{{ libro.nombre }}</td>
                    <td>{{ libro.autor }}</td>
                    <td><a href="edicionLibro/{{libro.codigo}}" class="button is-info">Editar</a></td>
                    <td><a href="eliminarLibro/{{libro.codigo}}" class="button is-danger">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}